<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/myFirstApp"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="PLAY_HOME" value="/Applications/play-2.1.0"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.INCLUDE_EXTERNAL_JARS" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="specs2.html"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${PLAY_HOME} = '/Applications/play-2.1.0'"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="myFirstApp"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms512M -Xmx1536M -Xss1M -XX:+CMSClassUnloadingEnabled -XX:MaxPermSize=384M -Dfile.encoding=UTF8 -Dplay.version=”2.1.0″ -Dsbt.ivy.home=${PLAY_HOME}/repository -Dplay.home=${PLAY_HOME} -Dsbt.boot.properties=${PLAY_HOME}/framework/sbt/sbt.boot.properties -jar ${PLAY_HOME}/framework/sbt/sbt-launch.jar run"/>
</launchConfiguration>
